<br/>
<div class="panel panel-primary">

  <div class="panel-heading">
    Contact Information
  </div>
  <div class="panel-body">
    
    <div class="form-group">
      <label class="sr-only" for="">Mot cle</label>
      <input type="text" class="form-control" id="" [(ngModel)]="motRecherche" placeholder="Mot cle">
      
      <button (click)="getContatctsRechercher()" class="btn btn-primary">Rechercher</button>
      
    </div>
    
    <div *ngIf="listContacts?.content">
      <ul class="list-group" *ngFor="let contact of listContacts?.content">
        <li class="list-group-item">Nom :{{contact.nom}}</li>
        <li class="list-group-item">Prenom :{{contact.prenom}}</li>
        <li class="list-group-item">Date Naissance :{{contact.dateNaissance | date:'short'}}</li>
        <li class="list-group-item">email :{{contact.email}}</li>
        <li class="list-group-item">telephone :{{contact.telephone}}</li>
      </ul>
      <div class="container" >
        
        <ul class="nav nav-pills">
          <li  [ngClass]="{'active': i==currentPage}" *ngFor="let p of pages,let i=index" > <a class="clickable" (click)="goTopage(i)">{{i+1}}</a></li>
        </ul>
        
      </div>
    </div>
    
    
    <div *ngIf="! listContacts?.content">
      <ul class="list-group" *ngFor="let contact of listContacts">
        <li class="list-group-item">Nom :{{contact.nom}}</li>
        <li class="list-group-item">Prenom :{{contact.prenom}}</li>
        <li class="list-group-item">Date Naissance :{{contact.dateNaissance | date:'short'}}</li>
        <li class="list-group-item">email :{{contact.email}}</li>
        <li class="list-group-item">telephone :{{contact.telephone}}</li>
      </ul>
      
      
      
    </div>
  </div>
</div>
