<br/>


<div class="panel panel-primary">

  <div class="panel-heading">
    Ajouter <small> contact</small>
  </div>
  
  <div class="panel-body">
     
     
       
     
       <div class="form-group">
         <label for="">Nom</label>
         <input type="text" [(ngModel)]="contact.nom" appNoEmptyInput appOnlyCharachterAllowed class="form-control" id="" placeholder="Votre Nom" >
       </div>

       <div class="form-group">
          <label for="">Prenom</label>
          <input type="text" [(ngModel)]="contact.prenom" class="form-control" id="" placeholder="Votre Prenom" >
        </div>

        <div class="form-group">
            <label for="">Date Naissance</label>
            <input type="date"  [(ngModel)]="contact.dateNaissance" class="form-control" id="" >
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="email" [(ngModel)]="contact.email" class="form-control" id="" placeholder="exemple@mail.com" >
        </div>

        <div class="form-group">
            <label for="">Telephone</label>
            <input type="text" [(ngModel)]="contact.telephone" class="form-control" id="" placeholder="Votre Telephone" >
        </div>   

        <div class="form-group">
            <label for="">Photo</label>
            <input type="text" [(ngModel)]="contact.photo"  class="form-control" id="" >
        </div>
       
       
     
       <button (click)="save()"  class="btn btn-primary">save</button>
     
     
  </div>
</div>

